feedparser
gensim>=4.1.0
gTTS
nltk
pandas
playsound
pyhyphen
pyspellchecker
sentence_transformers
smart-open>=5.0.0,<6.0.0
textblob
transformers
verbecc
wikipedia
Wikipedia-API
WiktionaryParser
wordfreq
spacy>=3.4.0,<3.5.0
spacy_dbpedia_spotlight
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.4.0/pt_core_news_sm-3.4.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.4.0/es_core_news_sm-3.4.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.4.0/fr_core_news_sm-3.4.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.4.0/it_core_news_sm-3.4.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.4.0/de_core_news_sm-3.4.0.tar.gz
git+https://github.com/ajdavidl/ChatterBot@master#egg=chatterbot
